/* 
 ---------------------------------
 -- alternate (optional) themes --
 ---------------------------------
*/

ul.playlist.dark li.sm2_playing a {
 color:#f2f2f2;
}

ul.playlist.dark li.sm2_playing .timing,
ul.playlist.use-peak.dark li.sm2_playing .peak {
 color:#999;
}

ul.playlist.use-spectrum.dark li.sm2_playing .spectrum-container {
 background-color:#222;
 border-color:#444;
}

ul.playlist.use-spectrum.dark li.sm2_playing .spectrum-container .spectrum {
 background-color:#999;
}

ul.playlist.dark li.sm2_paused {
 background-color:#333;
}

ul.playlist.dark li.sm2_paused a {
 color:#999;
}

ul.playlist.dark li.sm2_playing {
 background-color:#f2f2f2;
}

ul.playlist.dark .controls .statusbar {
 background-color:#00ff42;
}

ul.playlist.dark li .controls {
 background-color:#333;
}

ul.playlist.dark li .controls .statusbar {
 background-color:#222222;
}

ul.playlist.dark li .controls .statusbar .position {
 background-color:#00ff42;
 border-right:3px solid #00ff42;
 border-radius:3px;
 -moz-border-radius:3px;
 -webkit-border-radius:3px;
}

ul.playlist.dark li .controls .statusbar .loading {
 background-color:#c8c9c9;
}

ul.playlist.dark li .timing,
ul.playlist.use-peak.dark li .peak {
 background-color:#222;
 border-color:#444;
}

ul.playlist.dark.use-peak li .peak .l,
ul.playlist.dark.use-peak li .peak .r {
 border-color:#444;
 background-color:#999;
}


